// Variables and Mixins
@import 'variables.less';
@import 'mixins.less';

// Reset and Global Styles
@import 'reset.less';
@import 'global.less';

// Reusable components
@import 'navigation.less';
@import 'footer.less';

// Page Specific
@import 'home-page.less';

.home .intro .btnFun {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    background-color: #17A2B8;
    color: #FFFFFF;
    border: 1px solid #C0C0C0;
    cursor: pointer;
    font-size: 1.8rem;
}

@media (max-width: 500px) {
    .home .intro .btnFun {
      width: 100%;
    }
}

.home .intro .btnFun:hover {
    background: #FFFFFF;
    color: #17A2B8;
}