// Variables and Mixins
@import 'variables.less';
@import 'mixins.less';

// Reset and Global Styles
@import 'reset.less';
@import 'global.less';

// Reusable components
@import 'navigation.less';
@import 'footer.less';

// Page Specific
@import 'home-page.less';

.home .intro .btnFun {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    background-color: #17A2B8;
    color: #FFFFFF;
    border: 1px solid #C0C0C0;
    cursor: pointer;
    font-size: 1.8rem;
}

@media (max-width: 500px) {
    .home .intro .btnFun {
      width: 100%;
    }
}

.home .intro .btnFun:hover {
    background: #FFFFFF;
    color: #17A2B8;
}

html {
    background-color: #ffffff;
}

// .opacityDiv {
//     background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, rgba(255,255,255,0.6615021008403361) 66%, rgba(255,255,255,0) 100%);
//     height: 150px; 
//     width: 100%;
//     z-index: 1;
//     position: fixed;
//     opacity: 0;
// }

.main-navigation {
    position: static;
}

.home .intro {
    padding-top: 0px;
}

.set {
    position: absolute;
    width: 100%;
    height: 115%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 1;
}

.set div {
    position: absolute;
    display: block;
}

.set div:nth-child(1) {
    left: 20%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}

.set div:nth-child(2) {
    left: 50%;
    animation: animate 20s linear infinite;
    animation-delay: -20s;
}

.set div:nth-child(3) {
    left: 70%;
    animation: animate 25s linear infinite;
    animation-delay: -3s;
}

.set div:nth-child(4) {
    left: 0%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}

.set div:nth-child(5) {
    left: 85%;
    animation: animate 18s linear infinite;
    animation-delay: -10s;
}

.set div:nth-child(6) {
    left: 0%;
    animation: animate 12s linear infinite;
}

.set div:nth-child(7) {
    left: 15%;
    animation: animate 14s linear infinite;
}

.set div:nth-child(8) {
    left: 60%;
    animation: animate 19s linear infinite;
}
@keyframes animate {
    0% {
        opacity: 0;
        top: -10%;
        transform: translateX(20px) rotate(0deg);
    }

    10% {
        opacity: 1;
    }

    20% {
        transform: translateX(-20px) rotate(45deg);
    }

    40% {
        transform: translateX(-20px) rotate(90deg);
    }

    60% {
        transform: translateX(20px) rotate(135deg);
    }

    80% {
        transform: translateX(-20px) rotate(180deg);
        opacity: 1;
    }

    100% {
        top: 110%;
        transform: translateX(-20px) rotate(225deg);
        opacity: 0;
    }
}

.set2 {
    transform: scale(2) rotateY(180deg);
    filter: blur(2px);
}

.set2 {
    transform: scale(.8) rotateX(180deg);
    filter: blur(4px);
}